@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.App{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.faq-box{
    width: 300px;
    border: 2px solid orange;
    padding: 20px;
    margin-top: 20px; 
}

.question-box{
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom: 2px;
}
.question-box h4{
    margin-right: 50px;
}

span{
    font-size: 20px;
    color:orange;
}